@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.section-fv .text-top-right,
.section-fv .title-drunken,
.section-fv .title-horse-gin {
  animation: slideInFromLeft 0.5s ease-out forwards;
}


body {
  overflow-x: hidden; /* 横スクロールを防ぐ */
}
section {
  margin: 20px auto; /* 中央揃え */
}
.text-style {
  font-family: 'RocknRoll One', sans-serif;
}

.section-fv {
    position: relative;
    text-align: center; /* 画像とテキストを中央に配置 */
    padding: 20px;
  }

.text-top-right {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 2; /* 背景画像の上に配置 */
    color: #132E64;
    text-align: right;
    background-color: #EDF2F8;
    padding: 10px;
    line-height: 7px;
  }

  .title-drunken {
    z-index: 3; /* 商品画像の上に配置 */
    font-size: 10vw;
    font-weight: 900;
    font-family: var(--font-poppins);
    color: var(--color-royalblue-200);
    text-align: start;
  }
  .title-horse-gin {
    margin-top: -100px;
    z-index: 3; /* 商品画像の上に配置 */
    font-size: 10vw;
    font-weight: 900;
    -webkit-text-stroke: 2px #1f4cb1;
    color: #fff;
    text-align: end;
  }

  .images-wrapper {
    position: relative; /* 背景と商品画像を重ねるための基準点 */
  }
  .images-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%); /* 中央寄せのために要素を50%ずつ戻す */
    max-width: 100%; /* 画像がコンテナを超えないようにする */
    height: auto; /* 画像のアスペクト比を維持 */
  }

  .background-image {
    z-index: -1;
    translate: 0px 180px;
    max-width: 60%;
  }

  .product-image {
    width: 17vw;
    translate: -128px 0px;
    animation: float 3s ease-in-out infinite;
  }

  /* モバイルFV */
  @media (max-width: 768px) {
    .section-fv {
      margin-top: 80px;
    }
    .title-drunken {
      margin-top: 100px;
    }
    .title-horse-gin {
      margin-top: -20px;
    }
    .text-top-right {
      font-size: 8px;
    }
    .product-image {
      width: 43vw;
      translate: -109px 0px;
    }
  }

/* ここからabout */
  .about {
    padding: 20px;
  }

  .about-content-wrapper {
    margin-top: 50px;
  }

  .about-wrapper {
    margin-top: 5%;
  }

  .video-container {
    margin: 0 auto;
    width: 80vw;
  }

  .video-container video {
    width: 100%;
    height: auto;
  }

  .about-content-wrapper {
    display: flex; /* フレックスコンテナとして設定 */
    align-items: stretch;  /* 子要素を垂直方向の中央に配置 */
  }
  .orange-image {
    max-width: 50%; /* 画像の最大幅を指定 */
    object-fit: cover; /* 画像がコンテナの高さに合わせてトリミングされます */
    flex-shrink: 0;
  }
  .text-container {
    width: 50%;
    padding-left: 20px;/* コンテンツ間に間隔を持たせます */
  }

  .text-container h2 {
    margin-bottom: 20px; /* タイトルとテキストの間隔 */
    font-size: 1.5em; /* タイトルのサイズ */
    text-align: center;
    color: #0D1F41;
  }

  .text-content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px; /* 角の丸み */
  }

  .content-title {
    font-weight: bold;
    color: #0D1F41;
  }

  .bullet-point {
    color: #0D1F41; /* リストマークの色 */
    font-weight: bold;
  }

  /* モバイルabout */
  @media (max-width: 768px) {
    .about-wrapper {
      flex-direction: column;
    }
    .video-container {
      height: 30vh !important;
      padding-top: 100px;
    }
    .video-container,
    .text-container {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
    .about-content-wrapper {
      display: block; /* flexからblockへ変更して要素を縦に並べる */
    }
    .orange-image {
      max-width: 80vw; /* 画像の幅を80vwに設定 */
      margin: 0 auto; /* 画像を中央寄せ */
      display: block; /* displayプロパティを指定して中央寄せの効果を確実に */
    }
    .text-container {
      width: 80vw; /* テキストコンテナの幅を80vwに設定 */
      margin: 20px auto 0; /* 上に20pxのマージンを設け、中央寄せ */
      padding: 0; /* 左のパディングを削除してコンテンツ間の間隔を調整 */
    }
    .text-container h2 {
      font-size: 1.2rem;
    }
    .text-content {
      padding: 10px;
    }
  }

/* ここから受賞実績 */
.results {
    padding: 20px 0; /* 上下のパディング */
  }

  .result-container {
    max-width: 100vw;
  }
  .blue-text-container {
    width: 100vw;
    background-color: #1F4CB1; /* 背景色 */
    color: #ffffff; /* テキスト色 */
    margin: 0 auto;
    text-align: start;
    padding: 10px;
  }

  .results-title {
    margin-bottom: 20px; /* タイトルの下のマージン */
    text-align: start;
    margin-left: 30px;
  }

  .awards {
    display: flex;
    justify-content: space-around;
    /* overflow-x: auto; */
  }

  .award {
    background-color: #ffffff; /* ボックスの背景色 */
    margin: 10px;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を付ける */
    display: flex;
    border: 2px solid;
    padding: 15px;
  }
  .award-1 {
    border-color: #1F4CB1;
  }
  .award1-image {
    border-radius: 15px;
  }
  .award-2 {
    border-color: #8F7A49;
  }
  .award-3 {
    border-color: #DFC874;
  }
  .award-4 {
    border-color: #957E2B;
  }

  .award-text p {
    margin: 0;
    padding-right: 20px; /* テキストと画像の間にスペースを作る */
    font-size: 15px;
    line-height: 15px;
  }

  .award-image img {
    display: block;
    height: auto; /* 画像の最大高さを設定 */
    width: 17vw; /* 幅は自動調整 */
    max-width: 100%;
  }

  .video-container {
    max-width: 80vw;
    height: 80vh;
    margin: 20px auto; /* 中央揃え */
  }

  .video-container iframe {
    width: 100%;
    height: 100% !important;
  }

 .white-text {
  font-size: 24px;
  padding: 10px;
 }

  .cta-wrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'RocknRoll One', sans-serif;
  }
  .cta-wrapper .button {
    display: inline-block; /* ボタンのように扱う */
    padding: 10px 20px;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-decoration: none; /* リンクの下線を消す */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-family: 'RocknRoll One', sans-serif;
    width: 40vw;
    box-sizing: border-box; /* paddingをwidthに含める */
    border-radius: 15px;
  }
  @media screen and (max-width: 768px) {
    .cta-wrapper .button {
      font-size: 0.6rem;
      width: 43vw;
    }
  }
  .green {
    background-color: #22B11F;
  }

  .green:hover {
    background-color: #1e9f1b; /* ホバー時の色を少し暗く */
  }
  .green:active {
    background-color: #1b8d17; /* 押下時の色をもっと暗く */
    transform: translateY(2px); /* 押下時にボタンを少し下に動かす */
  }

  .blue {
    background-color: #1F4CB1;
  }

  .blue:hover {
    background-color: #1b449d;
  }

  .blue:active {
    background-color: #173b89;
    transform: translateY(2px);
  }

  /* モバイルaward */
  @media screen and (max-width: 768px) {
    .award {
      width: 80vw;
      margin: 0 auto;
      height: 20vh;
    }
    /* テキストと画像コンテナにスタイルを適用 */
    .award-text, .award-image {
      padding: 15px; /* 余白を設定 */
    }

    /* 必要に応じてさらにスタイリングを追加 */
    .award-image img {
      margin: 0 auto;
      height: auto; /* 画像のアスペクト比を保持 */
    }
  }

  /* ここからペッパーセクション */
  .full-width-image img {
    width: 100vw;
    height: auto;
  }

  .pepper-section .row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .pepper-section .column {
    flex: 1; /* 両カラムが等しい幅を持つように */
  }

  .column-left img{
    width: 40vw;
    padding-left: 20px;
  }

  .column-right {
    padding: 5%;
  }

  .column-right2 img{
    width: 40vw;
    padding-right: 20px;
  }

  .column-left2 {
    padding: 5%;
  }

  /* モバイルペッパー */
  @media screen and (max-width: 768px){
    .results-title {
      text-align: center;
      margin-left: 0px;
    }
    .white-text {
      font-size: 1rem;
    }
    .peppar-video {
      margin-top: -40px;
    }
    .pepper-section .row {
      flex-direction: column; /* 縦並び */
      padding-top: 0px;
    }
    .pepper-section .row .column-right2 {
      order: -1; /* 2段目のテキストを上に移動 */
    }
    .column-left img {
      width: 100vw;
      padding-left: 0px;
    }
    .column-right2 img {
      width: 100vw;
      padding-right: 0px;
    }
  }

  /* ここからフレーバーセクション */
  .flavor {
    /* ここではセクション自体に対する特別なスタイルは指定していません */
  }
  .flavor-section {
    max-width: 100vw; /* セクションの最大幅をビューポート幅に合わせる */
  }
  .flavor-description {
    padding-left: 10vw;
  }
  .flavor-title {
    font-size: 30px;
  }
  .flavor-row {
    display: flex;
    justify-content: space-between; /* コンテンツを両端に寄せる */
    align-items: center; /* コンテンツを垂直方向に中央揃えにする */
    margin: 0 10px; /* 適宜調整してください */
  }
  .flavor-description, .wave-box {
    width: 50%; /* 説明とボックスを半分の幅にする */
  }
  .wave-box {
    padding: 10px; /* 内部の余白 */
    color: white; /* テキストカラー */
    text-align: center; /* テキストを中央揃えにする */
    /* background-color はインラインスタイルで設定されているためここでは不要です */
  }
  .wave-row {
    display: flex;
    justify-content: space-between; /* コンテンツを両端に寄せる */
    border-top: 1px dashed #7CBAFF; /* 上の点線ボーダー */
    border-bottom: 1px dashed #7CBAFF; /* 下の点線ボーダー */
    width: 100vw;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: auto;
  }
  .wave {
    width: 35vw; /* Waveの幅 */
    padding: 10px; /* 内部の余白 */
    color: #000; /* テキストカラー */
    height: 100%;
  }
  .wave-number {
    background-color: #7CBAFF;
    width: 35vw;
    color: #FFFFFF;
  }
  .wave-text {
    width: 65vw;
    text-align: start;
  }
  .wave-number,
  .wave-text {
    display: flex;
    align-items: center; /* コンテンツを垂直方向に中央揃え */
    justify-content: center; /* コンテンツを水平方向に中央揃え */
    min-height: 150px; /* 最小の高さを指定してコンテンツに応じて高さを変更 */
  }

  /* モバイルフレーーバー */
  @media screen and (max-width: 768px) {
    .flavor-section p {
      font-size: 0.6rem;
    }
    .wave-number, .wave-text {
      min-height: 60px;
    }
  }

  /* ここからメニューセクション */

  .menu-row {
    display: flex;
    justify-content: start; /* カードを中央寄せ */
    flex-wrap: wrap; /* 必要に応じて折り返し */
    margin-top: 30px;
  }

  .menu-card {
    flex-basis: calc(33.333% - 20px); /* 3つのカードが横並びになるように設定 */
    margin: 10px; /* カード間の余白 */
    text-align: start; /* テキストを中央寄せ */
  }

  .menu-card img {
    width: 100%; /* 画像をカードの幅に合わせて伸縮 */
    height: 40vh; /* 画像のアスペクト比を維持 */
    object-fit: cover;
  }

  .menu-card .text {
    margin-top: 10px; /* 画像とテキストの間隔 */
  }

  .menu-description-title {
    background-color: #1F4CB1;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 5% auto;
    font-size: 24px;
  }
  .menu-description {
    background-color: #EEF5FF;
    width: 100%;
  }

  .menu-description-text {
    color: #464646;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 5% auto;
    font-size: 2rem;
  }

  /* モバイルmenu */
  @media screen and (max-width: 768px){
    .menu-video {
      margin-top: -100px;
    }
    .menu-row .slick-initialized .slick-slide {
      display: block !important;
    }
    .menu-description-text {
      font-size: 0.8rem;
    }
  }

  /* ここから紹介セクション　*/
  .introduction-card {
    flex-basis: calc(33.333% - 20px); /* 3つのカードが横並びになるように設定 */
    margin: 10px; /* カード間の余白 */
    text-align: start; /* テキストを中央寄せ */
  }
  .introduction-card img {
    width: 100%; /* 画像をカードの幅に合わせて伸縮 */
    height: 40vh; /* 画像のアスペクト比を維持 */
    object-fit: fill;
  }
  .introduction-title {
    background-color: #1F4CB1;
    text-align: center;
  }

  .introduction-text {
    color: #ffffff;
  }

  /* ここからメーカーセクション */

  .maker-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  .maker-content {
    display: flex;
    align-items: flex-start; /* コンテンツを上端揃えに */
    width: 100%; /* フル幅 */
    margin: auto; /* 中央揃え */
  }
  .image-section {
    flex: 1; /* フレックスアイテムのフレックスベーシスを等しく */
    padding-right: 20px; /* 右のテキストセクションとの間に余白を作る */
  }
  .image-section h2 {
    margin-bottom: 10px;
  }
  .image-section img {
    max-width: 100%; /* 画像がコンテナを超えて拡大しないようにする */
    height: auto; /* 画像のアスペクト比を維持 */
    margin-bottom: 10px;
  }
  .text-section {
    flex: 1; /* フレックスアイテムのフレックスベーシスを等しく */
    padding-left: 20px; /* 左のイメージセクションとの間に余白を作る */
    padding-top: 50px;
    font-size: 1.3rem;
  }

@media (max-width: 768px) {
  .maker-content {
    flex-direction: column; /* 子要素を縦方向に配置 */
  }

  .image-section, .text-section {
    padding: 0; /* パディングをリセット */
    width: 100%; /* モバイルビューでは幅を100%に */
  }

  .text-section {
    padding-top: 20px; /* 画像の下に来るテキストの上に余白を追加 */
    font-size: 0.7rem;
  }
}


  /* ここからアピールセクション　*/
  .appeal-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  .appeal-box {
    background-color: #FFFFFF;
    width: 40vw;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* オプションで軽い影を追加 */
  }
  .appeal-title {
    background-color: #EEF5FF;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px; /* タイトルとテキストの間に余白を追加 */
  }
  .appeal-text {
    padding: 3%;
  }
  @media (max-width: 768px) {
    .appeal-section {
      flex-direction: column;
      align-items: center;
    }
    .appeal-box {
      width: 80vw;
    }
  }



